/* reset */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* palette */
:root {
	--color-primary: #ffffff;
	--color-bg_header: #255ee9;
	--color-bg_footer: #23272a;
	--color-main: #7289da;
	--color-secondary: #f5f5f5;
}

/* general */
body
{
    font-family: 'Noto Sans', sans-serif;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 5px;
}

ul
{
    list-style: none;
}

a
{
    color: var(--color-primary);
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 500;
}

.a-b
{
    color: var(--color-bg_footer);
}

ul a:hover
{
    text-decoration: underline;
}

button
{
    padding: 14px;
    border-radius: 24px;
    border: none;
}

/* utilities */
.debug
{
    border: 1px solid orange;
}

.dflex
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.centerflex
{
    justify-content: center;
}

.reverse
{
    flex-direction: row-reverse;
}

.startflex
{
    align-items: flex-start;
}

.columnflex
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER */
header
{
    background-color: var(--color-bg_header);
}
/* nav */
.login
{
    font-size: 0.8em;
    padding: 2px 3px;
    background-color: var(--color-primary);
    border-radius: 16px;
}

/* hero-section */
#jumbo
{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding: 110px;
}

.jumbo-content
{
    max-width: 900px;
    text-align: center;
}

h1
{
    padding: 25px 0;
    color: var(--color-primary);
    font-size: 2.5em;
}

.intro
{
    font-size: 1em;
    padding: 0 120px 20px;
    color: var(--color-primary);
    line-height: 1.8em;
}

.b-white
{
    background-color: var(--color-primary);
}

.b-black
{
    background-color: var(--color-bg_footer);
    color: var(--color-primary);
}

.b-violet
{
    background-color: var(--color-main);
    color: white;
}

/* main */
main > section 
{
    padding: 60px 0;
}

.title-des
{
    max-width: 400px;
    padding: 0 20px;
}

h2
{
    font-size: 2.6em;
    padding-bottom: 25px;
}
.even
{
    background-color: var(--color-secondary);
}

.container .title-des p
{
    padding: 0 25px 0 0;
}

.t-align
{
    text-align: center;
}

h4
{
    font-size: 1.5em;
    padding-bottom: 30px;
}

/* waves */
main > div > img
{
    display: block;
    width: 100%;
}
main > div 
{
    opacity: 0.038;
}
.wave-bottom
{
    transform: rotate(180deg);
}

/* button effects */
button:hover
{
    box-shadow: 5px 10px 18px var(--color-bg_footer);
}
.login > a:hover
{
    color: purple;
}
/* footer */
footer
{
    background-color: var(--color-bg_footer);
    color: var(--color-primary);
    padding: 32px 0;
}
/* upper */
h3
{
    font-size: 1.9em;
    color: var(--color-main);
}

#flag
{
    width:16px;
    vertical-align: middle;
}
select
{
    background-color: var(--color-bg_footer);
    border: none;
    color: var(--color-primary);
    padding: 10px 0;
}

.icons > a
{
    padding: 0 5px 0 0;
    font-size: 0.9em;
    display: inline-block;
}

h5
{
    padding: 0px 10px 10px;
    color: var(--color-main);
}

aside
{
    border-top: 1px solid var(--color-main);
}


/* SUPPORT PAGE */
#support header
{
    background-color: var(--color-primary);
    color: #5765F2;
}
#support header a 
{
    color: #5765F2;
    font-size: 0.9em;
}

#support header select
{
    background-color: var(--color-primary);
    color: var(--color-bg_header);
    font-size: 0.95em;
}

#support #jumbo input
{
    width: 60%;
    padding: 13px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
}